body {
    background-color: silver;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#dataSection {
    margin-top: 10%;
    text-align: center;
}

.units {
    font-size: 1.1em;
}

table {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 1.1em;
}

.num {
    border: 2px solid black;
    text-align: center;
    height: 1.5em;
    width: 13em;
}
 
 .unit {
     border: 2px solid black;
     text-align: center;
     height: 1.5em;
     width: 8em;
}

input {
    width: 13em;
    height: 1.5em;
    border: 2px solid black;
    font-size: 1em;
}

 #inputSection {
    text-align: center;
}
 
button {
    margin-top: 1em;
    cursor: pointer;
    font-size: 1em;
    background-color: silver;
    outline: none;
    border: 2px solid black;
}

button:active {
    background-color: black;
    outline: none;
    color: white;
    outline: none;
    transform: translateY(0.3em);
}

#dataString {
    font-size: 1.5em;
}

#returnSection {
   font-size: 0.95em;
}

#userStories {
    margin-top: 1em;
    text-align: center;
    margin-top: 5em;
}

#usrStriesHandler {
    padding: 0.3em;
    width: 16em;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    margin-bottom: 2em;
}

#arrowSpan {
    font-size: 0.6em;
}


ol {
  list-style-position: inside;
  width: 35em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

ol li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
}

ul li {
    margin-right: 3em;
}


#footer {
  margin-top: 3em;
  text-align: center;
}